<li class="sidebar-menu-item{% if slug === 'admin' %} active{% endif %}">
      <a class="sidebar-menu-button" href="{{ prefix or '' }}admin.html">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
        <span class="sidebar-menu-text">Admin</span>
      </a>
    </li>
      <li class="sidebar-menu-item{% if slug === 'admin-second' %} active{% endif %}">
      <a class="sidebar-menu-button" href="{{ prefix or '' }}admin-second.html">
        <span class="sidebar-menu-icon sidebar-menu-icon--left">
          <svg class="w-6 h-6 -mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clip-rule="evenodd"></path><path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"></path></svg>
        </span>
        <span class="sidebar-menu-text">Enterprise</span>
        {% if slug === 'admin-fifth' %} 
        <div class="badge badge-primary  rounded ml-auto">4</div>
        {% endif %}
      </a>
    </li>
      <li class="sidebar-menu-item{% if slug === 'admin-third' %} active{% endif %}">
      <a class="sidebar-menu-button" href="{{ prefix or '' }}admin-third.html">
        <span class="sidebar-menu-icon sidebar-menu-icon--left">
        <svg class="w-6 h-6 -mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 3a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2H5zm9 4a1 1 0 10-2 0v6a1 1 0 102 0V7zm-3 2a1 1 0 10-2 0v4a1 1 0 102 0V9zm-3 3a1 1 0 10-2 0v1a1 1 0 102 0v-1z" clip-rule="evenodd"></path></svg>
        </span>

        <span class="sidebar-menu-text">Staff</span>

        
      </a>
    </li>
      <!-- <li class="sidebar-menu-item{% if slug === 'admin-mini' %} active{% endif %}">
      <a class="sidebar-menu-button" href="{{ prefix or '' }}admin-mini.html">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
        <span class="sidebar-menu-text">Mini</span>
      </a>
    </li> -->
    <li class="sidebar-menu-item{% if slug === 'admin-fifth' %} active{% endif %}">
      <a class="sidebar-menu-button" href="{{ prefix or '' }}admin-fifth.html">
        <span class="sidebar-menu-icon sidebar-menu-icon--left">
          <i class="material-icons">business</i>
        </span>
        <span class="sidebar-menu-text">CRM</span>
        {% if slug === 'admin-fifth' %} 
          <div class="badge badge-primary rounded ml-auto">12</div>
        {% endif %}
      </a>
    </li>
    <li class="sidebar-menu-item{% if slug === 'admin-mini' %} active{% endif %}">
      <a class="sidebar-menu-button" href="{{ prefix or '' }}admin-mini.html">
        <span class="sidebar-menu-icon sidebar-menu-icon--left">
          <i class="material-icons">home</i>
        </span>
        <span class="sidebar-menu-text">Mini</span>
        {% if slug === 'admin-fifth' %} 
        <div class="badge badge-success  rounded ml-auto">NEW</div>
        {% endif %}
      </a>
    </li>
    <li class="sidebar-menu-item{% if slug === 'index' %} active{% endif %}">
      <a class="sidebar-menu-button" href="{{ prefix or '' }}index.html">
        <span class="sidebar-menu-icon sidebar-menu-icon--left">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 4a1 1 0 011-1h4a1 1 0 010 2H6.414l2.293 2.293a1 1 0 11-1.414 1.414L5 6.414V8a1 1 0 01-2 0V4zm9 1a1 1 0 010-2h4a1 1 0 011 1v4a1 1 0 01-2 0V6.414l-2.293 2.293a1 1 0 11-1.414-1.414L13.586 5H12zm-9 7a1 1 0 012 0v1.586l2.293-2.293a1 1 0 111.414 1.414L6.414 15H8a1 1 0 010 2H4a1 1 0 01-1-1v-4zm13-1a1 1 0 011 1v4a1 1 0 01-1 1h-4a1 1 0 010-2h1.586l-2.293-2.293a1 1 0 111.414-1.414L15 13.586V12a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
        </span>
        <span class="sidebar-menu-text">Fixed</span>
      </a>
    </li>