 <div class="items-center">
      <a href="index.html" class="flex items-center justify-center text-xl w-sidebar-mini">
        <span class="">
            <svg width="23px" height="21px" viewBox="0 0 23 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="1300" transform="translate(-185.000000, -26.000000)" fill="#FFB905" fill-rule="nonzero">
                      <g id="Group" transform="translate(185.000000, 26.000000)">
                          <polygon id="Polygon-Copy-Copy" transform="translate(11.500000, 10.500000) rotate(-180.000000) translate(-11.500000, -10.500000) " points="11.5 0 23 14.654723 18.6073909 21 4.39260913 21 0 14.654723"></polygon>
                      </g>
                  </g>
              </g>
            </svg> 
          </span>
        
      </a>
    </div>

    <label data-toggle="sidebar" for="menu-toggle1" class="pointer-cursor lg:hidden block"><svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></label>
    <input class="hidden" type="checkbox" id="menu-toggle1" />

    <div class="hidden lg:flex lg:items-center lg:w-auto flex-1 pl-8" id="menu">
      
        <ul class="lg:flex items-center justify-between text-md text-gray-dark font-semibold pt-4 lg:pt-0">
          <li class="relative inline-block text-left">
            <button class="flex items-center lg:py-4 pr-3 block text-white hover:text-blue-600 font-semibold" id="options-menu" aria-haspopup="true" aria-expanded="true">
              Dashboard
            </button>

            <div class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg">
              <div class="rounded-md bg-white shadow-xs">
                <div class="py-1" role="menu" aria-orientation="vertical" >
                  <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" >Learning</a>
                  <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" >E-Commerce</a>
                  <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" >Real-Estate</a>
                  <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" >SAAS</a>
                  <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" >Hosting</a>
                  <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" >Marketing</a>
                  <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" >Restaurant</a>
                </div>
              </div>
            </div>
            
          </li>
          <li>
            <button class="flex items-center lg:p-4 py-3 px-0 block hover:text-white  font-semibold" id="options-menu" aria-haspopup="true" aria-expanded="true">
              <i class="material-icons mr-2">business</i>
              <span>Companies</span>
            </button>
          </li>
          <li>
            <button class="flex items-center lg:p-4 py-3 px-0 block hover:text-white font-semibold" id="options-menu" aria-haspopup="true" aria-expanded="true">
              <i class="material-icons mr-2">group</i>
              <span>Staff</span>
            </button>
          </li>
          <li>
            <button class="flex items-center lg:p-4 py-3 px-0 block hover:text-white  font-semibold" id="options-menu" aria-haspopup="true" aria-expanded="true">
              Reports
                <!-- Heroicon name: chevron-down -->
              <svg class="-mr-1 ml-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </button>
          </li>
        
        </ul>
        <ul class="ml-auto pr-8 d-flex items-center">
          <li class="mr-4">
            <a href="#" class="text-gray-dark hover:text-white">
              <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path></svg>
            </a>
          </li>
          <li>
            <a class="btn btn-success" href="login.html">
              <i class="material-icons mr-1" style="font-size:16px">lock</i>  My Account
            </a>
          </li>
        </ul>
      
      
    </div>