@import 'variables';
@import 'sidebar-style-guide/sass/variables';

html, body { margin:0 }
body {
  font-family: sans-serif;
}

.mdk-header-layout,
.mdk-drawer-layout,
.mdk-drawer-layout__content {
  height: initial;
  min-height: 100%;
}

.mdk-header {
  height: auto;
  margin-bottom:0;
}

nav {
  background: #ffffff;
  height: $navbar-height;
  line-height: $navbar-height;
  box-shadow: 0 2px 4px rgba(0,0,0,.14);
  margin:0;
}


p {
  @apply mb-4;
}

code {
  @apply text-danger text-sm font-mono;
}

.text-label {
  @apply text-gray-dark text-sm font-semibold mb-1;
}

.z-1000 {
  z-index: 1000;
}

.layout-second .card {
  box-shadow: none;
  border: 2px solid $border-color;
}


.layout-third .card {
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
    border: 1px solid $border-color;
    border-radius: 8px;
}


.page-separator {
      position: relative;
    color: rgba(55,77,103,.54);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    margin: .5rem 0;
    &:before {
      content: "";
      height: 1px;
      background-color: #efefef;
      width: 100%;
      top: 50%;
      left: 0;
      position: absolute;
      z-index: -1;
    }
    .page-separator__text {
          display: inline-flex;
    padding: .25rem 1rem;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #939fad;
    line-height: .9375rem;
    font-weight: 700;
    background-color: #fff;
    max-width: 90%;
    }
}