@import '_variables';

@import 'material-design-kit/src/style';



@import '_layout';
@import '_layout-mini';
@import '_sidebar';

@import '_stories';
@import '_tables';

@import '_buttons';
@import '_alerts';
@import '_avatars';
@import '_cards';
@import '_modal';
@import '_loaders';
@import '_chart';
@import '_flatpickr';
@import '_map';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
color: $body-color;
}


a:hover {
 text-decoration: underline;
}

.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}



input {
  border:1px solid transparent;
  background: $input-bg;
  &:focus { 
    outline: none;
    border:1px solid $border-color;
    background: #ffffff;
    @apply shadow;
  }
 @apply w-full h-10 px-5 rounded;
 &::placeholder {
  @apply text-muted;
 }
}



.form-group {
  @apply mb-4;
  label {
    @apply font-semibold text-sm text-gray-darker inline-block mb-1;
  }
}


button:focus {
  outline: none;
}



.tab-active {
   @apply bg-white text-primary;
}


// DATERANGE

.daterangepicker td.active {
  &,
  &:hover {
    background-color: $primary;
  }
}

.daterangepicker .ranges li.active {
  background-color: $primary;
}

.pagination {
 @apply flex;

  padding-left: 0;
  list-style: none;
}


.page-link {
  @apply flex items-center justify-center pt-0 pb-0 font-bold mx-1 px-2;

  color: $primary;

  min-width: 2rem;
  background: $gray-light;

  &:hover {
    background: $primary;
    color: #ffffff;
    text-decoration: none;
  }
}

.page-item.active .page-link {
  background: $primary;
  color: #ffffff;
}

.page-item.disabled .page-link {
  @apply text-muted;
  &:hover {
    background: none;
  }
}

.pagination-light  .page-link {
  background: none;
  &:hover {
    background: none;
    color: $body-color;
  }
}
.pagination-rounded .page-link {
  @apply rounded-full;
  min-height: 2rem;

}

.border-1 {
  border:1px solid $border-color;
}

[x-cloak] {
  display: none;
}

.was-validated {
  input {border-color: $success;}
}

.form-label {
  @apply text-gray-dark text-xs font-semibold uppercase;
}

.modal {
  @apply z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed;
  visibility: hidden;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-dialog {
  @apply z-50 relative mt-8 p-3 mx-auto my-0;
}

.modal-backdrop {
  @apply z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed bg-black opacity-50;
}



.tab-pane {
  display:none;
  &.show {
    display:block;
  }
}