<div class="card stories-card-popular">
  <img src="../public/assets/stories/256_rsz_euan-carmichael-666378-unsplash.jpg" alt="" class="card-img rounded">
  <div class="stories-card-popular__content">
    <div class="card-body flex items-center">
        
            <div class="w-8 h-8 mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Janell D.">
                <a href=""><img src="../public/assets/avatars/256_luke-porter-261779-unsplash.jpg" alt="Avatar" class="rounded-large"></a>
            </div>
        
        <a style="text-decoration: none;" class="flex items-center" href=""><i class="material-icons mr-1" style="font-size: inherit;">remove_red_eye</i> <small>327</small></a>
    </div>
    <div class="stories-card-popular__title card-body">
        <small class="text-muted text-uppercase">WORDPRESS</small>
        <h4 class="font-bold m-0"><a href="">Learn the basics</a></h4>
    </div>
  </div>
</div>