
  <div class="flex">
    <h1 class="my-8 flex-1">Dashboard</h1>
    <div class="flex items-center">
      <a href="#" class="text-gray-dark hover:text-primary"><svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path></svg></a>
      
      <div class="relative leading-none">
      <div>
        
          <a class="avatar w-12 h-12 ml-4">
                  <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="Avatar" class="rounded-full p-2 border-gray-dark">
          </a>

        
      </div>
     <div class="origin-top-right absolute right-0 mt-2 w-48 rounded shadow-lg">
        <div class=" py-1 rounded bg-white shadow-xs">
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 font-semibold hover:no-underline
                      hover:text-primary" >Your Profile</a>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 font-semibold hover:no-underline 
                      hover:text-primary" >Settings</a>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 font-semibold hover:no-underline 
                      hover:text-primary" >Sign out</a>
        </div>
      </div>
    </div>

      <label data-toggle="sidebar"  class="pointer-cursor lg:hidden block"><svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></label>
    </div>
  </div>

  <div class="grid lg:grid-cols-3 gap-4">
    <div class="card">
      <div class="card-body flex items-center h-24">
        <div class="leading-none flex-1">
          <div class="card-header__title text-gray-dark mb-2">Budget   <span class="badge badge-warning ml-2 rounded">20%</span></div>
          <div class="flex items-center">
            <div class="font-semibold text-xl m-0">&dollar;24,000 </div>
          </div>
        </div>    
        <div><i class="material-icons text-muted mr-3 align-middle" style="font-size:36px">monetization_on</i></div>
      </div>
      <div class="w-full bg-gray-light h-1">
        <div class="bg-warning text-xs leading-none h-1 text-center text-white rounded" style="width: 45%"></div>
      </div>
    </div>

    <div class="card">
      <div class="card-body flex items-center h-24">
        <div class="leading-none flex-1">
          <div class="card-header__title text-gray-dark mb-2">Current Target</div>
          <div class="flex items-center">
            <div class="font-semibold text-xl m-0">&dollar;50,000 </div>
          </div>
        </div>    
        <div><i class="material-icons text-muted mr-3 align-middle" style="font-size:36px">gps_fixed</i></div>
      </div>
      <div class="w-full bg-gray-light h-1">
        <div class="bg-primary text-xs leading-none h-1 text-center text-white rounded" style="width: 24%"></div>
      </div>
    </div>


    <div class="card">
      <div class="card-body flex items-center h-24">
        <div class="leading-none flex-1">
          <div class="card-header__title text-gray-dark mb-2">Top Grossing</div>
          <div class="flex items-center">
            <div class="font-semibold text-xl m-0">&dollar;13,531 </div>
          </div>
        </div>    
        <div><i class="material-icons text-muted mr-3 align-middle" style="font-size:36px">contacts</i></div>
      </div>
      <div class="w-full bg-gray-light h-1">
        <div class="bg-success text-xs leading-none h-1 text-center text-white rounded" style="width: 45%"></div>
      </div>
    </div>
  </div>

  <div class="lg:grid lg:grid-cols-4 lg:gap-4 mb-8">

        <div class="card mb-0">
            <div class="p-3 flex items-center">
              <div class="border-primary bg-primary text-primary w-8 h-8 mr-2 rounded-full inline-flex items-center align-middle justify-center font-bold text-4xl"> 
                <i class="material-icons text-white">business</i>
              </div>    
              
              <a href="#" class="text-body">
                  <strong>Companies</strong>
              </a>
            </div>
        </div>
    
        <div class="card mb-0">
            <div class="p-3 flex items-center">
               <div class="border-primary bg-success text-primary w-8 h-8 mr-2 rounded-full inline-flex items-center align-middle justify-center font-bold text-4xl"> 
                <i class="material-icons text-white">person_add</i>
              </div>    
              
              <a href="#" class="text-body">
                  <strong>Users</strong>
              </a>
            </div>
        </div>
  
        <div class="card mb-0">
          <div class="p-3 flex items-center"> 
            <div class="border-primary bg-warning text-primary w-8 h-8 mr-2 rounded-full inline-flex items-center align-middle justify-center font-bold text-4xl"> 
              <i class="material-icons text-white">receipt</i>
            </div>    
            
            <a href="#" class="text-body">
                <strong>Invoices</strong>
            </a>
          </div>
        </div>
   
        <div class="card mb-0">
            <div class="p-3 flex items-center">
              <div class="border-primary bg-info w-8 h-8 mr-2 rounded-full inline-flex items-center align-middle justify-center font-bold text-4xl"> 
                <i class="material-icons text-white">monetization_on</i>
              </div>    
              
              <a href="#" class="text-body">
                  <strong>Earnings</strong>
              </a>
              
            </div>
        </div>
   
        <div class="card mb-0">
            <div class="p-3 flex items-center">
                
                  <div class="border-primary bg-gray-dark w-8 h-8 mr-2 rounded-full inline-flex items-center align-middle justify-center font-bold text-4xl"> 
                      <i class="material-icons text-white">shop</i>
                    </div>
                
                <a href="#" class="text-dark">
                    <strong>Products</strong>
                </a>
            </div>
        </div>
   
        <div class="card mb-0">
            <div class="p-3 flex items-center">
               <div class="border-primary bg-gray-dark w-8 h-8 mr-2 rounded-full inline-flex items-center align-middle justify-center font-bold text-4xl"> 
                      <i class="material-icons text-white">account_balance</i>
                    </div>
                
                <a href="#" class="text-dark">
                    <strong>Account Balance</strong>
                </a>
            </div>
        </div>
  
        <div class="card mb-0">
            <div class="p-3 flex items-center">
               <div class="border-primary bg-gray-dark w-8 h-8 mr-2 rounded-full inline-flex items-center align-middle justify-center font-bold text-4xl"> 
                      <i class="material-icons text-white">assignment</i>
                    </div>
                
                <a href="#" class="text-dark">
                    <strong>Assignments</strong>
                </a>
            </div>
        </div>
    
        <div class="card mb-0">
            <div class="p-3 flex items-center">
               <div class="border-primary bg-gray-dark w-8 h-8 mr-2 rounded-full inline-flex items-center align-middle justify-center font-bold text-4xl"> 
                      <i class="material-icons text-white">call</i>
                    </div>
                
                <a href="#" class="text-dark">
                    <strong>Calls</strong>
                </a>
            </div>
        </div>
    
  </div>


  <div class="lg:flex">
    <div class="lg:w-2/3 lg:mr-4">
       <div class="card">
        <div class="card-header bg-white flex items-center">
          <h4 class="card-header__title flex-1 m-0">Current Sales</h4>
          <div
            class="flex items-center"
            data-toggle="flatpickr" 
            data-flatpickr-wrap="true"
            data-flatpickr-static="true" 
            data-flatpickr-mode="range" 
            data-flatpickr-alt-format="d/m/Y" 
            data-flatpickr-date-format="d/m/Y">
            <a href="javascript:void(0)" class="link-date" data-toggle>13/03/2018 <span class="text-muted mx-1">to</span> 20/03/2018</a>
            <input class="flatpickr-hidden-input" type="hidden" value="13/03/2018 to 20/03/2018" data-input>
          </div>
        </div>
        <div class="card-body text-muted">
          <div class="chart" style="height: calc(248px);">
            <canvas id="earningsTrafficChart">
              <span style="font-size: 1rem;"><strong>Website Traffic / Earnings</strong> area chart goes here.</span>
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:w-1/2">


      {% set sales = [
        {
          month: 'January',
          min: '10,000',
          max: '20,000',
          progress: 52,
          progress_color: 'success'
        },
        {
          month: 'February',
          min: '8,250',
          max: '5,230',
          progress: 100,
          progress_color: 'success'
        },
        {
          month: 'March',
          min: '1,150',
          max: '8,120',
          progress: 22,
          progress_color: 'danger'
        },
        {
          month: 'April',
          min: '4,625',
          max: '11,450',
          progress: 40,
          progress_color: 'warning'
        },
        {
          month: 'May',
          min: '5,875',
          max: '12,600',
          progress: 45,
          progress_color: 'warning'
        }
      ] %}
      
      <div class="card">
        <div class="card-header">
          <h4 class="card-header__title  m-0">History</h4>
        </div>
        <div class="card-body bg-gray-light py-4">
          {% for sale in sales %}
          <div class="flex justify-between pb-4">
            <span>{{ sale.month }}</span>
            <div>
              <strong>${{ sale.min }}</strong> <span class="text-muted">/ ${{ sale.max }}</span>
            </div>
          </div>
           <div class="w-full bg-white shadow-sm h-1 {% if not loop.last %} mb-3{% endif %}">
            <div class="bg-{{ sale.progress_color }} text-xs leading-none h-1 text-center text-white rounded" style="width: {{ sale.progress }}%;"></div>
          </div>

          {% endfor %}
        </div>
      </div>

    </div>
  
    
    </div>



 