{% macro component(avatar, name, title) %}
<div class="card">
  <div class="card-body flex">
    <div class="mr-3">
      <div class="avatar">
        <img src="{{ avatar }}" alt="Avatar" class="w-16 rounded-full">
      </div>
    </div>
    <div class="">
      <p class="mb-3">
        <strong>{{ name }}</strong><br>
        <span class="text-muted">{{ title }}</span>
      </p>
      <p class=""><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</em></p>
    </div>
  </div>
</div>
{% endmacro %}